.bg-apple-white {
  background-color: #fbfbfd;
}

.bi-apple:hover {
  color: white;
  transition-duration: 400ms;
}

.bg-vday {
  background-color: #fcd7ca;
}

.bg-gray {
  background-color: #f5f5f7;
}

.bg-light-gray {
  background-color: #fbfbfd;
}
